@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
a, input, button, select{
    cursor: url(puntero1_Mesa\ de\ trabajo\ 1.png), pointer;
}
body{
    background-color: rgb(252, 252, 252)
}
body img{
    width: 100%;
}
header {
    display: flex;
    padding: 1.5rem 3rem 1.5rem 3rem ; 
}
h1{
    margin-top: 0.1rem;
}
h1 a{
    text-decoration: none;
    color: black;
}
h1 a:hover{
    text-decoration: none;    
}
header nav {
    margin-left: 3rem;
    margin-top: 1.1rem;
}
header nav a {
    margin-left: 1rem;
    text-decoration: none;
    color: black;
    padding: 0.2rem;
    font-weight: 400;
}
header nav a:hover {
    margin-left: 1rem;
    font-weight: 600;
    color:rgb(1, 133, 138);
    padding: 0.2rem;
}
.navButt:active {
    text-decoration-line: underline;
    color: grey;
}
#mainTitle {
    display: flex;
}
#mainTitle p {
    margin-right: 0.2rem;
    margin-left: 0.5rem;
    margin-top: 1rem;
    font-style: italic;
    font-size: large;
    font-weight:300;  
}
main{
    margin-top: 2rem;
    margin-left: 3rem;
    margin-right: 3rem;
}
main a{
    color: rgb(32, 32, 32);
    padding: 0.2rem 0.4rem 0.2rem 0.4rem;
    background-color: rgb(208, 222, 223);
    text-decoration: none;
}
main a:hover{
    color: rgb(24, 24, 24);
    padding: 0.2rem 0.4rem 0.2rem 0.4rem;
    background-color: rgb(1, 133, 138);
    border-radius: 2%;
}
main button{
    color: rgb(32, 32, 32);
    padding: 0.2rem 0.4rem 0.2rem 0.4rem;
    background-color: rgb(208, 222, 223);
    text-decoration: none; 
    border: none;
}
main button:hover{
    color: rgb(24, 24, 24);
    padding: 0.2rem 0.4rem 0.2rem 0.4rem;
    background-color: rgb(1, 133, 138);
    border-radius: 2%;
}
table {    
    margin-top: 1rem;
}
th, td {
    text-align: left;
    vertical-align: top;
    border: 1px solid rgb(131, 131, 131);
    padding: 0.3em;   
}
 .celdaBoton{
    border: 0px;
}
.busquedas {
     display:flex;
     flex-direction: row;
     margin-bottom: 1rem;
     margin-top: 1rem;
}
.busquedas form{
    margin-right: 1rem;
}
.hidden{
    display:none;
}
input{
    margin-left: 0.3rem;
    margin-right: 0.5rem;
}
select{
    margin-left: 0.3rem;
    margin-right: 0.5rem;
}
h2{
    margin-bottom: 1.5rem;
}
.espacio{
    margin-top: 0.8rem;
}